################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/War/.vs/War/v15
/War/War/War.vcxproj
/War/War.sln
/War/War/War.vcxproj.filters
/war/Debug
/war/Release
/war/war/Debug
/war/war/Release

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.idb
*.pdb
*.log
*.tlog
*.iobj
*.user