################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/War/.vs/War/v15
/War/War/War.vcxproj
/War/War.sln
/War/War/War.vcxproj.filters
